<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--构造方法-->
<!--<bean id="rumenz" class="com.rumenz.RumenzA" />
<bean id="rumenz1" class="com.rumenz.RumenzA">
     <constructor-arg name="id" value="1"/>
</bean>-->
    <!--静态工厂-->

<!--<bean id="rFactory" class="com.rumenz.RumenzFactory" factory-method="rumenzFactory"/>
<bean id="rFactory1" class="com.rumenz.RumenzFactory" factory-method="rumenzFactory">
    <constructor-arg name="id" value="111"/>
</bean>-->
<!--实例工厂初始化-->
 <!--   <bean  id="rFactory" class="com.rumenz.RumenzFactory" />
    <bean id="rumenz" factory-bean="rFactory" factory-method="rumenzFactory"></bean>
    <bean id="rumenz1" factory-bean="rFactory" factory-method="rumenzFactory">
        <constructor-arg name="id" value="666"></constructor-arg>
    </bean>
   -->
<!--FactoryBean实例化-->
    <bean id="rumenz-by-factoryBean"  class="com.rumenz.RumenzAFactoryBean"/>
</beans>